/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.application > main > .container
  min-height: auto

.application--light .table thead th
  color: #333
  font-size: 1.5rem