/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.application > main > .container
  min-height: auto

[data-tooltip]:before
  font-size: 18px

.application--light .table thead th
  color: #333
  font-size: 14px