/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.application > main > .container
  min-height: auto

.application--light .table thead th
  color: #333
  font-size: 1.5rem

.stepper__step__step
  height auto
  width auto
  min-height 70px
  min-width 70px
  font-size: 3rem