.container {
  padding: 0;
}
.banner {
  min-height: 470px;
}
.preview {
  max-width: 1100px;
  margin: 0 auto !important;
}
.composition {
  min-height: 250px;
/*   background: linear-gradient(to bottom, rgba(255,221,235,1) 0%,rgba(208,179,192,1) 100%); */
}
.composition .container {
  min-height: inherit
}
.composition .container .layout {
  min-height: inherit
}
.desc .container .layout {
  min-height: 300px;
}
.advantage .container .advLayout {
  min-height: 150px;
}
.card__title {
  justify-content: center;
}
.card__actions {
  justify-content: center;
}
.gallery {
  padding: 0 15px;
}
.aboutUs {
  /* background: linear-gradient(to bottom,rgba(208,179,192,1) 0%, rgba(255,221,235,1) 100%); */
}
.delivery {
  /* background: linear-gradient(to bottom, rgba(255,221,235,1) 0%,rgba(208,179,192,1) 100%); */
}
.bannerImg {
  transition: .4s;
  opacity: 1;
  animation-duration: .6s;  
}
.bannerImg:hover {
  animation-name: pulse;
  animation-duration: .6s;
}
.priceBox {
  font-size: 28px
}
.compText {
  color: #333;
  text-shadow: 2px 2px 1px #fff
}