.container {
  padding: 0;
}
.carousel__item {
  transition: .8s ease-out;
}
.desc .container .layout {
  min-height: 300px;
}
.advantage {
  background: url('/static/grunde.png') center center repeat;
}
.advantage .container .advLayout {
  min-height: 150px;
}
.card__title {
  justify-content: center;
}
.card__actions {
  justify-content: center;
}
.gallery {
  padding: 0 15px;
}
.aboutUs {
  color: #fafafa;
  text-shadow: 2px 2px 1px #333;
  background: url('/static/1980x600-about-us.png') center center no-repeat;
}
.aboutUs .container .aboutContainer {
  min-height: 300px;
}
.aboutContainer__one {
  min-height: 100px;
}
.delivery {
}
.priceBox {
  font-size: 28px
}
.compText {
  color: rgb(49, 49, 49);
  text-shadow: 2px 2px 1px #fff
}
